<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="index.html">Mongo Scraper</a><button class="navbar-toggler" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
                    class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="savedArticles.html">Saved articles
                            </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('assets/img/home-bg.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1>New York Times</h1><span class="subheading">Scrape Articles from NYT</span></div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="clearfix"><button id="scrapeBtn" class="btn btn-primary float-right" type="button">Scrape New Articles&nbsp;⇒</button></div>
                <div class="post-preview">
                    <a href="#">
                        <h2 class="post-title">{{headline}}</h2>
                        <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
                    </a>
                    <p class="post-meta">Posted by&nbsp;<a href="#">Start Bootstrap on September 24, 2018</a></p>
                    <div class="clearfix"><button class="btn btn-primary float-right" type="button">Save Article&nbsp;⇒</button></div>
                </div>
                <hr>

                <hr>

            </div>
            
        </div>
    </div>
    <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
                                        class="fa fa-github fa-stack-1x fa-inverse"></i></span></li>
                        </ul>
                        <p class="text-muted copyright">Copyright&nbsp;©&nbsp;</p>
                    </div>
                </div>
            </div>
        </footer>


{{#each articles}}
  {{#unless saved}}
    <figure class="storyPanel clearfix">
      <a href="{{link}}" class="pull-right" target="_blank"></a>
      {{#if link}}
        <a href="{{link}}" class="storyLink" target="_blank">
          <h2 class="storyHeadline">{{headline}}</h2>
        </a>
      {{else}}
        <h3 class="storyHeadline">{{headline}}</h3>
      {{/if}}
      <button class="storyButton" id="saveArticle" data-id="{{_id}}">Save Article</button>
    </figure>
  {{/unless}}
{{/each}}


{{!-- window to show a message with the number of scraped articles --}}

<div id="alertModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h2>You have scraped <span id="numArticles"></span> new articles</h2>
      </div>
    </div>
  </div>
</div>

{{!-- window to show the error --}}
<div id="error" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h2>There was an error processing your request.  Please try again later.</h2>
      </div>
    </div>
  </div>
</div>